@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<div class="top_header" id="top">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
					<p>We offer <span>landscaping , maintenance and design</span> for residential, commercial and industrial clients.</p>
				</div>
				<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 col-sm-12 col-xs-12">
					<ul>
						<li><a class="transition3s" href="about-gardener.html">Carrers</a></li>
						<li><a class="transition3s" href="#"> Purchase Now</a></li>
						<li>
							<div class="dropdown">
							  <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenu2001" data-toggle="dropdown" aria-haspopup="true">
							   	<span>Language</span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2001">
							  	<li>English(UK)</li>
							    <li>English(USA)</li>
							    <li>Arabic</li>
							    <li>Spanish</li>
							  </ul>
							</div>
						</li>
					</ul>
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</div> <!-- /top_header -->