
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}



	<!-- ============================= Inner Banner ========================== -->
	<section class="inner_banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>Lawn & Garden Care</h3>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:right;">
					<a href="#" class="button_main get_in_touch transition3s">Get in Touch</a>
				</div>
			</div>
		</div>
	</section> <!-- /inner_banner -->
	<!-- ============================= /Inner Banner ========================== -->


	<!-- ============================ BreadCrumb ============================= -->
	<div class="breadcrumb">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><i class="fa fa-caret-right"></i></li>
				<li><a href="all-services.html">Service</a></li>
				<li><i class="fa fa-caret-right"></i></li>
				<li class="active">Lawn & Garden Care</li>
			</ul>
		</div>
	</div> <!-- /breadcrumb -->
	<!-- ============================ /BreadCrumb ============================= -->



<!-- =================== services page content ================== -->
	<section class="service_page_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					<div class="tab_nav_holder">
				   	   <!-- Nav tabs -->
					  <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
					    <li><a href="all-services.html">See All Services</a></li>
					    <li><a href="#design" data-toggle="tab">Design & Planting</a></li>
					    <li class="active"><a href="#garden" data-toggle="tab">Lawn & Garden Care</a></li>
					    <li><a href="#drainage" data-toggle="tab">Irrigation & Drainage</a></li>
					    <li><a href="#snow" data-toggle="tab">Snow & Ice Removal</a></li>
					    <li><a href="#spring" data-toggle="tab">Spring & Fall Cleanup</a></li>
					    <li><a href="#stone" data-toggle="tab">Stone & Hardscaping</a></li>
					  </ul>
				  </div>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
					<div class="tab_details">
					 <!-- Tab panes -->
						<div class="tab-content">
						    <div class="tab-pane fade row" id="all">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/131.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/143.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>lawn?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						    <div class="tab-pane fade row" id="design">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/133.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/132.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>Design?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						    <div class="tab-pane active row" id="garden">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/132.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/142.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>lawn?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						    <div class="tab-pane fade row" id="drainage">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/133.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/144.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>drainage?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						    <div class="tab-pane fade row" id="snow">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/131.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/144.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>snow?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						      <div class="tab-pane fade row" id="spring">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/132.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/133.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>spring?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						    <div class="tab-pane fade row" id="stone">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/131.jpg" alt="image">
						      	<img class="img-responsive col-lg-6 col-md-6 col-sm-6" src="images/service/143.jpg" alt="images">
								<div class="text col-lg-12 col-md-12 col-sm-12 col-xs-12">
							      	<p>Whether you are moving into a new home, or updating the grounds of the home you already live in, landscaping can dramatically change the look of your house and property. You may like a neatly trimmed lawn or prefer a wild and overgrown look, you may live in an arid climate and need to xeriscape, or you may like finely manicured rosebushes.The cost of landscaping varies greatly but most homeowners report spend- ing between <span>$1,586 and $5,017.</span> Before you call the pros, though, here are a few things to think about that will affect your individual land- scaping project's cost that may have you spending more or less than the average.</p>
						      	</div>
						      	<div class="col-lg-5 col-md-6 col-sm-6 bottom_text_left">
						      		<h5>How large is your <span>property?</span></h5>
						      		<p>The single largest factor in the cost of your new landscaping installation is the size of your property. If your house sits on a huge lot, and you're not sure if you can afford to landscape the entire area, talk to your professional landscaper about the possibility of landscaping it in sections. Xeriscaping is a style of landscaping that utilizes plants, shrubs, ground covers and rocks that need very little water to thrive. The cost of installing a xeriscaped yard is often more than simply planting grass and flowers. However, once established the maintenance and water costs are kept low by design. A professional landscaper and gardener will be able to tell you the best approach for this. For example, if there are plants that take a longer time to come to maturity you may be able to plant them first and when they are reaching their peak landscape </p>
						      	</div>
						      	<div class="col-lg-7 col-md-6 col-sm-6 bottom_text_right">
						      		<h5>Do you want a <span>stone?</span></h5>
						      		<p>Lawns are not expensive to plant. Enough grass seed to cover your property is far less expensive than exotic plants or other features. however, lawns need careful maintenance, and plenty of water, especially at the beginning to get them established. So you may feel a lawn is a simple and affordable way to go, but it may take more money in the long run in terms of water, time and labor</p>
						      		<h5 style="margin-top:28px;">Water and Irrigation</h5>
						      		<p>Don't spend time and money on beautiful landscaping if you have not taken water and irrigation issues into account first. Installing a sprinkler system, leveling the ground to avoid run off, and planning which plants, shrubs or flowers will get more and less water are all precautions that may take more time and money in the short term but will benefit you in the long run. You want to give your lawns and gardens the best chance to thrive</p>
						      	</div>
						    </div>
						</div>
					</div> <!-- End tab_details -->
				</div>
			</div> <!-- End row -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right project_cost">
					<div class="img_holder">
						<img src="images/service/16.jpg" alt="image" class="img-responsive">
						<div class="overlay">
							<div class="border">
								<h3>How Much will your Project Cost?</h3>
								<a href="price.html" class="button_main mouse_hover3 transition3s">Get Free Estimate</a>
							</div> <!-- /border -->
						</div> <!-- /overlay -->
					</div> <!-- /img_holder -->
				</div>
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 pull-right key_benefits">
					<div class="title_holder2">
						<h3 style="margin-top: 46px;">Key <span>Benefits</span> of Gardener</h3>
					</div> <!-- /title_holder2 -->
					<div class="key_benefits_panel">
						<div class="panel-group" id="accordion">
						  <div class="panel">
						    <div class="panel-heading active-panel">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						        Our Qualifications</a>
						      </h6>
						    </div>
						    <div id="collapse1" class="panel-collapse collapse in">
						      <div class="panel-body">
						      	<p>Patios or decks are a great addition to your landscaping plan as they provide a relaxing place for you to enjoy your new lawn and garden, as well as a great place to entertain friends. The overall cost will depend on the materials you choose. For example, Cement block or brick patios may be more affordable </p>
						      </div>
						    </div>
						  </div> <!-- /panel 1 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						        Our Capabilities</a>
						      </h6>
						    </div>
						    <div id="collapse2" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Patios or decks are a great addition to your landscaping plan as they provide a relaxing place for you to enjoy your new lawn and garden, as well as a great place to entertain friends. The overall cost will depend on the materials you choose. For example, Cement block or brick patios may be more affordable </p>
						      </div>
						    </div>
						  </div> <!-- /panel 2 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						        Our Commitment</a>
						      </h6>
						    </div>
						    <div id="collapse3" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Patios or decks are a great addition to your landscaping plan as they provide a relaxing place for you to enjoy your new lawn and garden, as well as a great place to entertain friends. The overall cost will depend on the materials you choose. For example, Cement block or brick patios may be more affordable </p>
						      </div>
						    </div>
						  </div> <!-- /panel 3 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						        Our Sucess</a>
						      </h6>
						    </div>
						    <div id="collapse4" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Patios or decks are a great addition to your landscaping plan as they provide a relaxing place for you to enjoy your new lawn and garden, as well as a great place to entertain friends. The overall cost will depend on the materials you choose. For example, Cement block or brick patios may be more affordable </p>
						      </div>
						    </div>
						  </div> <!-- /panel 4 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						        Our Landscapers</a>
						      </h6>
						    </div>
						    <div id="collapse5" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Patios or decks are a great addition to your landscaping plan as they provide a relaxing place for you to enjoy your new lawn and garden, as well as a great place to entertain friends. The overall cost will depend on the materials you choose. For example, Cement block or brick patios may be more affordable </p>
						      </div>
						    </div>
						  </div> <!-- /panel 5 -->
						</div> <!-- end #accordion -->
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right brochures">
					<h5>Our Brochures</h5>
					<a href="#" class="pdf_download transition3s download">
						Download.PDF
						<span><i class="fa fa-file-pdf-o"></i></span>
					</a>
					<a href="#" class="doc_download transition3s download">
						Download.DOC
						<span><i class="fa fa-file-text-o"></i></span>
					</a>
					<div class="img_holder">
						<img src="images/service/15.jpg" alt="image">
						<div class="overlay">
							<div class="border">
								<span class="border_round"><i class="fa fa-phone"></i></span>
								<h6>For Landscape Services</h6>
								<a href="tel:00419-306-2667">00419-306-2667</a>
							</div> <!-- /border -->
						</div> <!-- /overlay -->
					</div> <!-- /img_holder -->
				</div>
			</div>
		</div> <!-- End container -->
	</section> <!-- /service_page_content -->


<!-- =================== /services page content ================== -->




	<!-- ======================== Buy on Themeforest =======================  -->
	<section class="buy_on_themeforest">
		<div class="container">
			<h4>Rebrand Your Gardening Website More Beautiful Just for 58$</h4>
			<a href="#" class="button_main mouse_hover2 transition3s">Buy on Themeforest</a>
		</div>
	</section> <!-- /buy_on_themeforest -->
	
	<!-- ======================== /Buy on Themeforest =======================  -->
